#profile h1 {
  text-align: center;
  font-family: 'Chewy', cursive;
  font-size: 70px;
  color:#008080;
}

#profile h5 {
 text-align: center;
 font-size:20px;
}


.col-md-4 h1 {
 color:#008080;
 font-weight: bold;
}

.col-md-4 h3 {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.col-md-4 h4{
  font-size:15px;
}

.col-md-4 p{
  font-size:15px;
}

.col-md-4 img{
  text-align: center;
}
